@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title{
    color:gray;
    margin-right: auto;
    font-family:'Shadows Into Light', cursive;
}

li, a{
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: gray;
}


.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    opacity: 0.7;
    padding-left: 20px;
    margin: 15px 15px;
    border-radius: 10px;
    
}

body{
    background-color: black;
    line-height: 3;
    text-align: center;
    font-size: 24px;
    line-height: 3;
}



.container, 
.content {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 768px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
    }
    main {
        flex: 2;
        order: 2;
        min-height: 80vh;
    }
}

