/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button{
    width: 50px;
    height: 50px;
 
    border-radius: 5px;
    border: none;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: x-small;
    color: gray;
    
}

button:hover{
    background-color: lightgray;
}
/* COLORS and FONTS */
body {
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 3;

}
header {
    background: white;
}
main {

}
footer {

}
.left-sidebar {
    background-color: rgba(0,0,0,.1);
}
.right-sidebar {

}

.container, 
.content {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 768px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
    }
    main {
        flex: 2;
        order: 2;
        min-height: 80vh;
    }
    .left-sidebar {
        order: 1;
        flex: 1;
    }
    .right-sidebar {
        flex: 1;
        order: 3;
    }
}